<!DOCTYPE html>
<html lang="en" ng-app="ngdrops">

<head>
    <meta charset="UTF-8">
    <title>Ng-Doodrops</title>
    <!-- <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src='/vendor/lodash/lodash.js'></script> -->
    <script src='/vendor/angular/angular.js'></script>
    <!-- <script src='/vendor/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='/vendor/angular-google-maps/dist/angular-google-maps.min.js'></script> -->
    <script src="scripts/app.js"></script>
    <!-- StyleSheets -->
    <link type="text/css" rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyA3rG4765yr_MEkt63gqX99w5Sag5bYITA&libraries=placeses,visualization,drawing,geometry,places"></script>
    <script src="/vendor/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="scripts/directives/doodrop.js"></script>
    <script src="scripts/controllers/dropController.js"></script>
    <script src="scripts/controllers/doodropsListGetController.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
    <script src="scripts/controllers/ngMapController.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <script id="custom-cached-info-window-template.html" type="text/ng-template">
        <div ng-non-bindable="">
            I'm an cached template
            <br/> Lat: {{anchor.getPosition().lat()}}
            <br/> Lng: {{anchor.getPosition().lng()}}
            <br>
            <ul>
                <li ng-repeat='item in vm.store.items'>{{item}}</li>
            </ul>
        </div>
    </script>
    <header>
        <nav class="nav navbar">
            <span class="navbar-text">
    Doodrops, Find a garbage can to drop you dog's poo in. 
    </span>
            <input id="autocomplete" places-auto-complete size=80 ng-model="vm.address" component-restrictions="{country:'us'}" types="{{types}}" on-place-changed="vm.placeChanged()" />
        </nav>
    </header>
    <br>
    <div ng-controller="dropListGetController as dropsCtrl">
        <ng-map center="37.7449,-122.4454" zoom="12" class="clearfix">
            <div ng-repeat="drop in dropsCtrl.dropList">
                <marker position="{{drop.lat}},{{drop.lon}}" title="{{drop.type}}" animation="DROP" on-click="map.showInfoWindow(event, 'bar' + drop._id)" icon="{
                            url: '/images/poomoji.png',
                            scaledSize: [50,50]
                        }" id="{{drop._id}}">
                </marker>
                <!--    <info-window id="{{'bar'+drop._id}}" visible-on-marker="{{drop._id}}">
                    <div ng-non-bindable>
                        <div id="siteNotice"></div>
                        <div id="bodyContent">
                            {{drop.address}}
                        </div>
                    </div>
                </info-window> -->
            </div>
        </ng-map>
    </div>
    <div ng-view></div>
</body>

</html>
