<div id="cardlist" class="clearfix">
	
	<a ng-href="localhost:3000"><button class="btn" ng-click="dropCtrl.go('/')"> back </button></a>
	<div class="show-card">
		<h1>
			<span  ng-hide="editing">{{dropCtrl.drop.type}}</span>
			<div ng-show="editing">
				<label>Type:</label>
				<input ng-model="dropCtrl.drop.type">
			</div>
		</h1>
		
		<h3>
			<span ng-hide="editing">{{dropCtrl.drop.address}}</span>
			<div ng-show="editing">
				<label>Address:</label>
				<input ng-model="dropCtrl.drop.address">
			</div>
		</h3>
		
		<h3>
			<span ng-hide="editing">{{dropCtrl.drop.cityName}}</span>
			<div ng-show="editing">
				<label>City:</label>
				<input ng-model="dropCtrl.drop.cityName">
			</div>
		</h3>
		<button class="btn" ng-click="editing = true" ng-hide="deleting || editing">edit</button>
		<button class="btn" ng-click="editing = false; dropCtrl.save()" ng-show="editing">save</button>
		<button class="btn" ng-click="deleting = true" ng-hide="deleting || editing">delete</button>
		<p ng-show="deleting">Really delete this {{dropCtrl.drop.type}}?</p>
		<button class="btn" ng-click="dropCtrl.deleteDrop()" ng-show="deleting">yes</button>
		<button class="btn" ng-click="deleting = false" ng-show="deleting">no</button>

	</div>
	<div class="show-card comment" ng-repeat="comment in dropCtrl.drop.comments">
	<span class="italic">{{comment.commenterName}} - {{comment.commentContent}}</span>
	</div>
  
</div>
