ng-map {
	width: 50vw;
	height: 90vh;
	position: absolute;
	bottom: 0;
	left: 0;
}
.btn {
	background-color: #00cc66;
	border: none;
	height: 10vh;
	font-size: 8vh;
	color: #009944;
}
.show-card {
	text-align: center;
	display: block;
	border: 1px solid #009944;
	width: 49vw;
	border-radius: 3px;
	margin-top: 5px;
}
h1 {
	text-align: center;
}
header {
	height: 10vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00cc66;
	display: inline-block;
	width: 100vw;
}
#cardlist {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 88vh;
	overflow-y: scroll;
	clear: after;
	padding: 5px;
}
.card {
	border: 1px solid #009944;
	width: 49vw;
	border-radius: 3px;
	margin-top: 5px;

}
#title {
	height: 100;
}
 .ng-map-info-window {
    background-color: navy;
    color: #fff;
  }
  .ng-map-info-window div:first-child > div:nth-child(1) {
    border-top-color: navy !important;
  }
  .ng-map-info-window div:first-child > div:nth-child(3) div {
    background-color: transparent !important;
  }
  .ng-map-info-window div:first-child > div:nth-child(4) {
    background-color: transparent !important;
  }